# Third-party libs and Django apps used by namesdbsite

                                   # LICENSE
django>=4.1.0,<4.2                 # MIT
django-bootstrap-pagination-forked # MIT      ???     TODO replace
djangorestframework>=3.13.0,<3.14  # BSD      y
drf-yasg>=1.21.0,<1.22             # BSD      y
gunicorn                           # MIT
httpx

git+https://github.com/denshoproject/densho-elastictools.git@v1.0.2
