{% extends "base.html" %}
{% load namesdb_public_tags %}

{% block title %}FAR Pages | Names{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "namespub-index" %}">Names Database</a></li>
<li>>FAR Pages</li>
{% endblock breadcrumbs %}

{% block content %}
<section class="container">

  <h2>
    <a href="{% url "namespub-index" %}">Names Registry</a>
    - <strong>FAR Pages</strong>
  </h2>

  <table>
  {% for facility in facilities %}
    <tr>
      <td>
        <a href="{% url "namespub-farpage" facility.id 1 %}"><img src="{{ facility.img }}" width=100 /></a>
      </td>
      <td>
        <h3>
          <a href="{% url "namespub-farpage" facility.id 1 %}">{{ facility.title }}</a>
        </h3>
        <a href="https://ddr.densho.org/{{ facility.ddr_id }}/">{{ facility.ddr_id }}</a><br />
        {{ facility.id }}<br />
      </td>
    </tr>
  {% endfor %}
  </table>

</section><!-- .container -->
{% endblock content %}
