{% extends "base.html" %}
{% load bootstrap_pagination namesdb_public_tags %}


{% block title %}Names{% endblock %}


{% block breadcrumbs %}{{ block.super }}
{% if paginator.object_list %}
<li><a href="{% url "namespub-index" %}">Names Database</a></li>
<li>Search</li>
{% else %}
<li>Names Registry</li>
{% endif %}
{% endblock breadcrumbs %}


{% block content %}
<section class="container">

<h2>Names Registry</h2>

<h3>
    <a href="{% url "namespub-persons" %}">Persons</a>
  - <a href="{% url "namespub-farrecords" %}">FAR Records</a>
  - <a href="{% url "namespub-wrarecords" %}">WRA Records</a>
</h3>

</section><!-- .container -->
{% endblock content %}
