{% extends "namesdb_public/base.html" %}
{% load namesdb_public_tags %}

{% block title %}{{ record.preferred_name }} | Names{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "namespub-index" %}">Names Database</a></li>
<li><a href="{% url "namespub-persons" %}">Persons</a></li>
<li>{{ record.preferred_name }}</li>
{% endblock breadcrumbs %}

{% block content %}
<section class="container">

  <h2>
    <a href="{% url "namespub-index" %}">Names Registry</a>
    - <a href="{% url "namespub-persons" %}">person</a>
    - <strong>{{ record.preferred_name }}</strong>
    <small class="font300">{{ record.nr_id }}</small>
  </h2>

  <div style="float: right;">

    <h3>FAR Records</h3>
    <ul>
      {% for record in record.far_records %}
      <li>
        <a href="{{ record.links.html }}">{{ record.far_record_id }}</a>
        {{ record.last_name }}
        {{ record.first_name }}
      </li>
      {% endfor %}
    </ul>

    <h3>WRA Records</h3>
    <ul>
      {% for record in record.wra_records %}
      <li>
        <a href="{{ record.links.html }}">{{ record.wra_record_id }}</a>
        {{ record.lastname }}
        {{ record.firstname }}
      </li>
      {% endfor %}
    </ul>

  <h3>Others in Family {{ record.wra_family_no }}</h3>
  <ul>
    {% for record in record.family %}
    <li>
      <a href="{{ record.links.html }}">
        {{ record.preferred_name }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <!--
  <h3>Facilities</h3>
    <table class="table">
      <tbody>
        {% for facility in record.facilities %}
        <tr>
          <th>
            {{ facility.facility_id }}
          </th>
          <td>
            {{ facility.entry_date }}
          </td>
          <td>
            {{ facility.exit_date }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    -->

  </div>


  <table class="table">
    <tbody>
      {% for key,value in record.items %}
        {% if key in display_fields_person %}
          <tr>
            <th>
              {{ key }}
            </th>
            <td>
              {{ value }}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <h3>PersonLocations</h3>
  <table border="0">
    {% for location in locations %}
    <tr>
      <td valign="top" style="padding-right:20px;">
        <div class="map" id="{{ location.divid }}"></div>
      </td>
      <td valign="top" style="padding-right:20px;">{{ location.entry_date }}</td>
      <td valign="top" style="padding-right:20px;">{{ location.exit_date }}</td>
      <td valign="top" style="padding-right:20px;">
        {{ location.address }}
        <br/>
        <a href="https://www.openstreetmap.org/#map=14/{{ location.lat }}/{{ location.lng }}">OpenStreetMaps</a>
      </td>
      <td valign="top">
        <a href="{{ location.facility_id }}">
          {{ location.facility_name }}
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <h3>
    <a href="{{ ddrobjects_ui_url }}">DDR Objects</a>
    {{ ddrobjects_api_url }}
    {{ ddrobjects_status }}
  </h3>
  <table border="0">
    {% for object in ddrobjects %}
    <tr>
      <td valign="top" style="padding-bottom:10px;">
        <a href="{{ object.links.html }}">
          <img src="{{ object.links.img }}" width="100" alt="{{ object.id }}" />
        </a>
      </td>
      <td valign="top">
        <b><a href="{{ object.links.html }}">
          ({{ object.id }}) -
          {{ object.title }}
        </a></b>
        <br />
        {{ object.description | truncatewords_html:32 }}
      </td>
    </tr>
    {% endfor %}
  </table>

  <p float="right">
    <a href="{{ api_url }}">API</a>
  </p>

</section><!-- .container -->
{% endblock content %}

{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
<style type="text/css">
  .map { height: 200px; width: 200px;}
</style>
{% endblock %}

{% block js %}
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
<script>
  {% for location in locations %}
  var map_{{ location.divid }} = L.map('{{ location.divid }}').setView([{{ location.lat }}, {{ location.lng }}], 13);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map_{{ location.divid }});
  {% endfor %}
</script>
{% endblock %}
